# ==========================================================
# Datasets / Images
# ==========================================================

Day14/dataset/

Day16/input_images/
Day16/output_images/

Day17/input_images/
Day17/output_images/

Day18/input_images/
Day18/output_images/


# ==========================================================
# Generated / Runtime Files
# ==========================================================

Day14/runs/
Day14/*.h5
Day14/*.keras

Day16/*.jpg
Day16/*.png

Day17/*.jpg
Day17/*.png

Day18/*.jpg
Day18/*.png


# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================================
# Virtual Environments
# ==========================================================

venv/
.venv/
env/


# ==========================================================
# Streamlit
# ==========================================================

.streamlit/secrets.toml